/* suspendAccount.css */

h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
    margin-top: -150px; /* Adjust position slightly above */
    text-align: center;
  }
  
  label {
    font-size: 18px;
    color: #333333;
  }
  
  select {
    width: 110%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    margin-top: 9px;
    box-sizing: border-box; /* Include padding and border in width */
  }
  
  .button-container {
    text-align: center;
    margin-top: 15px;
  }
  
  .suspend-button {
    padding: 14px 32px;
    margin-right: 16px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .back-button {
    padding: 14px 32px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .back-button a {
    text-decoration: none;
    color: #fff;
  }
  
  .suspend-button:hover {
    background-color: #5a6268;
  }
  
  .back-button:hover {
    background-color: #c82333;
  }
  
  
    